.mortage-outline-container {
  background-color: rgb(237, 238, 247);
  display: flex;
  padding: 4%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.mortage-cal {
  border: 10px solid white;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  height: 50%;
  width: 60%;
}

.mortage-label {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.input {
  margin-bottom: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input > div {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  flex: 1 1 250px;
  margin-bottom: 10px;
}

.output {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.output > div {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  width: 30%;
}

input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: rgb(161, 166, 233);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  opacity: 2;
  border-radius: 4px;
  outline: none;
  padding: 0;
  margin: 0;
  margin: 15px 0px;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: rgb(90, 106, 250) 5px solid;
  cursor: pointer;
}

input::-webkit-slider-track-background {
  background-color: white;
  height: 100%;
}
input::-webkit-slider-horizontal {
  background-color: white;
  height: 100%;
}

mat-slider {
  width: 100%;
  margin-left: -8px;
}
.amount_input {
  font-family: Helvetica, arial, sans-serif;
  margin: 5px;
  font-size: 15px;
}

.amount_output {
  font-family: Helvetica, arial, sans-serif;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 10;
  display: flex;
}

.amount_output > div {
  margin: 0px 30px;
}

@media (max-width: 1000px) {
  .mortage-cal {
    height: 100%;
    width: 88%;
  }

  .mortage-outline-container {
    padding-top: 0%;
  }
}
