.mortage-outline-container {
  background-color: rgb(237, 238, 247);
  display: flex;
  padding: 4%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.mortage-cal {
  border: 10px solid white;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  height: 50%;
  width: 60%;
}

.mortage-label {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.input {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.input > div {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;
  justify-content: flex-start;
}

.dyn-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.dyn-output {
  display: flex;
  flex-direction: row;
}

.dyn-output > div {
  width: 50%;
  flex: 2 1 auto;
}

.dyn-slider {
  flex: 0 0 auto;
}

.output {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.output > div {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  width: 30%;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: rgb(90, 106, 250) 5px solid;
  cursor: pointer;
}

input::-webkit-slider-track-background {
  background-color: white;
  height: 100%;
}
input::-webkit-slider-horizontal {
  background-color: white;
  height: 100%;
}

mat-slider {
  width: 98%;
  margin-left: -8px;
}
.amount_input {
  font-family: Helvetica, arial, sans-serif;
  margin: 5px;
  font-size: 15px;
  width: 50%;
}

.amount_output {
  font-family: Helvetica, arial, sans-serif;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 10;
  align-self: center;
}

.amount_output > div {
  margin: 0px 30px;
}

@media (max-width: 800px) {
  .mortage-cal {
    height: 100%;
    width: 88%;
  }

  .mortage-outline-container {
    padding-top: 0%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  border: rgb(90, 106, 250) 2px solid;
  border-radius: 5px;
  width: 80%;
}

label {
  align-self: center;
  margin-right: 5px;
}

.label_output {
  margin-top: 15px;
  font-size: 15px;
}

@media (max-width: 450px) {
  .dyn-output {
    flex-direction: column;
  }

  .dyn-output > div {
    margin-top: 20px;
  }
}
